/*
 Color barra top --> #2C3E50
 Color primer div --> #18BC9C
 color algo --> #212529   

    font-family: 'Montserrat', sans-serif;

    font-family: 'Lato', sans-serif;


 

/*aplicando fuente a todo el documento*/
* {
	box-sizing: border-box;
}
body{
	margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;	
}

 nav{
 	/*outline: 1px solid red;*/
 	width: 100%;
 	
    /*no se me ve completo el nav, o sea sin 
    bordes... intenté con margin y padding 0px 
    pero nada*/ 
  }


 ul {
 	/*outline: 1px solid blue;*/
    margin:0px;
 	padding:0px;
   	line-height: 100px;
   	background-color: #2C3E50;
	list-style: none;
  }


 li {
 /*	outline: 1px solid green;*/
    display: inline-block;
    width: 100px;
    font-size: 20 px;
 	font-weight: bold;
 	text-align: right;
   }


 ul li:first-child{
 	width: 850px;
 	font-size: 35px;
 	text-align: left;
 	padding-left: 100px;
 }

 ul li:first-child a:hover{
  color:#FFF ;
 }

 a {
 	color: #fff;
    display: block;
    text-decoration: none;
     }
     

a:hover{
	color:#18BC9C;
}

 /*Inicia sección Uno*/



.profile {
	position: absolute;
	height: 800px;
	margin: 0px;
	padding: 0px;
	background-color: #18BC9C ; 
  text-align: center;
  position: relative;   
    
}

.profile img{
	padding: 50px;
  }

.profile h1 {
	  color: #FFF;
    font-size: 80px;
    margin-top: 0;
    padding: 25px;

    }
  

.censtar1{
	  position: absolute;
		}
.censtar1 div{
    /*width: 300px;
    height:5px;
    margin-left: 400px;
    margin-bottom: 50px;
    background-color:#FFF;
    border:none;
    position: absolute;*/

    width: 100px;
    background-color: white;
    height: 5px;
    display: inline-block;
    
}
	 
	
.fa-star{
	  color: #FFF;
	  font-size: 50px;
    text-align: center;
    background-color: #18BC9C;
    position: absolute;
}


.profile h3 {
     color:#FFF;
     font-weight: normal;
     font-size: 25px;     
       }




/*Empieza container dos - Sección portfolio*/

.portfolio{
	text-align: center;
    position: relative;
    background-color: #fff;
    position: relative;
}

.portfolio h2{
    font-size: 50px;
    color:#212529;
    font-weight: bolder;
}


.star{
  display: inline-block;
  position: absolute;
}


.linea{
/*  background-color: #212529;
  height: 3px;
  width: 50px;*/
  border-top: 3px solid  #212529;
  width: 10%;
  }



.lines{
	width: 1000;
	margin margin-top: 150px;
  display: inline-block;
	    }

.box {
    height: 300px;
    width: 400px;
    margin:10px;
    background-size: cover;
    float: left;
    position: relative;	 
   
      }
 .box2{
 	height: 300px;
    width: 400px;
    margin:10px;
    align-content: center;
    background-size: cover;
    float: left;
    position: relative;	 
   
 }
   
#one{ 
    background-image: url(../assets/images/portfolio/cabin.png);
  
    }

#two{ 
    background-image: url(../assets/images/portfolio/cake.png)
   
    }
#three{ 
    background-image: url(../assets/images/portfolio/circus.png)
    
    }

#four{ 
    background-image: url(../assets/images/portfolio/game.png)
    
}

#five{ 
    background-image: url(../assets/images/portfolio/safe.png)
 
    }
#six{ 
    background-image: url(../assets/images/portfolio/submarine.png)
   
}


/*Empieza sección about*/

.about{
  position: absolute;
  height: 600px;
  margin: 0px;
  padding: 0px;
  background-color: #18BC9C ; 
  text-align: center;
  position: relative;
}
.about h2{
  font-size: 50px;
  padding-top: 50px;
  color: #FFF;
  font-weight: bolder;
}


.twocol{ /*dos columnas del cuadro de texto en dos cajas*/
  margin-left: 340px;
  width: 900px;
  position: absolute; 
  
}

.textabout{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin:20px;
  float:left;
  font-family: 'Lato', sans-serif;
}

.textabout p{
  color:#fff;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;

}

.btn-about {
  background-color: #18BC9C;
  font-size: 20px;
  border: 2px solid #FFF;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  margin-top: 317px;

}

.btn-about a:hover{
  background-color: #FFF;
  color: #18BC9C;
  cursor: pointer;
  transition: background-color 0.8s ease-out;
}


/*Empieza sección Contact*/

.contactt{
  text-align: center;
} 
#contact h3{
  color : #FFF;
}
#contact h4{
  color: #FFF;
}

#contact{
  border-bottom: 1px solid #eee;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  outline: none;
    } 
}




/*Empieza sección Footer*/

.footer{
  background-color: #2C3E50;
  height: 400px;
}

.boxfoot{
  color: #FFF;


}


